
<div >

<form [formGroup]="formulario" class="mx-6 grid grid-rows-3 grid-cols-3 gap-4" (ngSubmit)="enviaFormulario()">

    <mat-form-field appearance="outline" class="col-span-3">
        <mat-label>Titular</mat-label>
        <input matInput placeholder="Titular" formControlName="titular" required>
        <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-span-3">
        <mat-label>Numero de la tarjeta</mat-label>
        <input matInput #tarjta placeholder="0000000000000000" required maxlength="16" minlength="16" formControlName="numeroTarjeta">
        <mat-hint align="end">{{tarjta.value?.length || 0}}/16</mat-hint>
        <mat-icon matSuffix>credit_card</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-span-2"> 
        <mat-label>Fecha de expiracion</mat-label>
        <input matInput placeholder="01/10" formControlName="fechaExpiracion">
        <mat-icon matSuffix>date_range</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>CVV</mat-label>
        <input matInput placeholder="123" formControlName="cvv">
        <mat-icon matSuffix>key</mat-icon>
    </mat-form-field>

    <button mat-stroked-button class="col-span-3" style="background-color: rgb(73, 161, 73); " type="submit" [disabled]="formulario.invalid">
        Añadir
    </button>

</form>
   

</div>