<div class="">
    <h1 class="text-center text-4xl">Tarjetas de credito</h1>

<hr>

    <div class="justify-center flex flex-col md:flex-row  mt-4">
        <div class="w-1/1 md:w-1/2 text-center">

           <h4 class="text-xl">Agregar tarjeta de credito</h4> 

            <app-tarjeta-credito>

            </app-tarjeta-credito>
        </div>
        
        <div class="w-1/1 md:w-1/2 text-center">
            
            <h4 class="text-xl">Listado de tarjetas</h4>

            <app-tarjeta-credito-list>

            </app-tarjeta-credito-list>     
            
        </div>

    </div>
</div>